{%load static %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>

    .login-container {
        position: relative;
        top:100px;
        margin: auto;
        max-width: 400px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }
  </style>
    <div class="container-fluid"></div>
    
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="login-container">
            <h2 class="mb-4">Login</h2>
            <form>
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password">
              </div>
              <button type="submit" class="btn btn-primary ">Login</button>
            </form>
          </div>
       
    </form>
{% endblock %}